{% extends 'base.html.twig' %}

{% block title %}импортировать пользователей{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
		$(document).ready(function() {
			$("button").click(function() {
				let url = "https://randomuser.me/api/?results=5";
				
				$.ajax({
					url: url,
					method: 'get',
					success: function(data){
						rez = data.results;
						console.log(rez);
					//	location.assign("/import");
						$.ajax({
							url: "/import",
							method: 'get',
							data: { rez },
							success: function(resp){
								console.log('resp');
							}
						});
					}
				});
				
			});
		});
	</script>
{% endblock %}

{% block body %}
{#<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>#}

<div>
    
	<button>импортировать пользователей</button>
</div>
{% endblock %}
